<%= content_for :slider do %>
  <div class="slider-area fake-slider container"></div>
<% end %>
<div class="page-content">
  <%= render "static_pages/moviews_dvds" %>
  <%= render "static_pages/tvshow"%>
  <!-- <%= render "static_pages/news" %> -->
</div>
